/.emacs.d/.python-environments/
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list/
/.emacs.d/elpa/
/.emacs.d/eshell/
/.emacs.d/snippets/
/.emacs.d/smex-items
/.emacs.d/tramp
/.emacs~
/.ipython/
/.emacs.d/projectile-bookmarks.eld
/.gnupg/
